

<html>
<head>
  <title> Home </title>
</head>
<% if user_signed_in? %>
<body class = "home-body">

<div class="home-elements">

<div class ="home-title">

<h1> Hi <%= current_user.first_name %>, you look great today!</h1>
    </div>
</div>
</body>

    <%else %>



<%end %>



