

<div class ="elements">

<div class ="title">
<h1>Overview Report</h1>
</div>


<table id ="customers", align="center">
  <thead>
  <tr>
    <th>Total Revenue</th>
    <th>Net Profit</th>
    <th>Total Sales Tax</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td>$ <%= @total_revenue.round(2)%></td>
      <td>$ <%= @net_profit.round(2) %></td>
      <td>$ <%= @total_tax.round(2) %></td>
    </tr>


  </tbody>
</table>