/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require_tree .

 */

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;



}

ul{
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;

}

li a {
    font-family: Arial;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border:black
}

/* Change the link color to #111 (black) on hover */
li :hover {
    background-color: red;
    color: white;
    font-weight: bold;
}

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.usertitle{
    font-family: Arial;
    font-size: 12px;
    border-collapse:separate;

    border-radius:6px;
    -moz-border-radius:6px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}

p{
    text-align: right;
    color: white;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    top: 0; bottom: 0; left: 0; right: 0;
    position: relative;
    color: black;
    height: 150px;



}



.form{
    margin: auto;
    width: 50%;
    border: 3px red;
    padding: 10px;

}

.labels{
    padding-right:4em;
    font-weight: bold;
}



.fields{
    border-radius: 35px;
    margin: 4px 2px;
    padding: 9px 35px;

}

.show{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding-top: 10%;
}

.submit{
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 35px;

}

.submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.text-box{
    padding-left:4em;
    color: black;

}

.send{
    padding-right:4em;
}

.picture{

    margin: 4px 2px;
    text-align: center;
}

.action{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: double

}

.action:hover{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}

.whitedots{
    color: white;
}