// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginbody{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('http://epicwallpaperz.com/wallpaper-hd/dubai-cars-wallpaper-desktop-background-On-wallpaper-hd.jpg') no-repeat ;
  background-size: 1600px 800px;
  z-index: 3;
}
.login-box{
  width: 500px;
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  cursor: pointer;
  background: white;
  border-radius: 25px;

}
.login-box h1{
  float:left;
  font-size: 40px;
  border-bottom: 6px solid red;
  margin-bottom: 50px;
  padding: 13px 0;
}

.signupbody{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: url('http://epicwallpaperz.com/wallpaper-hd/dubai-cars-wallpaper-desktop-background-On-wallpaper-hd.jpg') no-repeat ;
  background-size: 1600px 800px;
  z-index: 3;



}

.signup-box{
  width: 500px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  cursor: pointer;
  background: white;
  border-radius: 25px;

}


.signup-box h1{
  float:left;
  font-size: 35px;
  border-bottom: 6px solid red;
  margin-top: 0px;
  padding: 0px 0;
  color: black;

}


.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 0px 0;
  margin: 0px 0;
  border-bottom: 1px solid red;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background-color: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 35px;

}

.password{
  text-indent: -2em;
  text-align: right;
  bottom: 10px;
}

.uindex{

  margin-bottom: 15px;
  padding: 0;
  text-align: right;
  font-family: sans-serif;
  background: url('mypuzzle.jpg') no-repeat ;
  background-size: 550px 400px;
  z-index: 3;
}

.formup{
  margin: auto;
  width: 50%;
  border: 3px red;
  padding: 10px;




}